.story {
  /*   border: 1px solid; */
  padding: 0px 0px 0px 2px;
  margin-right: 10px;
}

.story span {
  display: inline-block;
  width: 80px;
  overflow: hidden;
}

.story div {
  width: 54px;
  height: 54px;
  padding: 2px 6px 6px 2px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 54px;
  margin: 1px 0px 2px 6px;
}

.story img {
  width: 54px;
  height: 54px;
  border: 2px solid white;
  border-radius: 54px;
}
